::-webkit-scrollbar{
  width: .8rem;
  background: #1F1F1F;
}

::-webkit-scrollbar-thumb{
  background: rgb(78, 78, 78);
  border-radius: 100px;
}

::-webkit-scrollbar-track{
  margin-block: 1em;
  background: #1F1F1F;
}

body{
  background:#1F1F1F;
}
