nav {
  background-color: #1F1F1F;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 10rem;
  align-items: center;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  width: 42%;
  height: 10vh;

  li {

    .btn {
      background-color: #0000;
      color: #f0f0f0 !important;
      // padding: 10px 20px !important;
      font-size: 16px;
      text-transform: capitalize !important;
      border-radius: .22rem;
      text-transform: capitalize;
      font-weight: 300;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      // border: 2px solid #7CD745;
      border-radius: 5px;


      &:hover {
        border-bottom: 1px solid #7CD745;
        background-color: lighten($color:#000, $amount: 20) !important;
      }
    }
  }
}

.nav-link {
  padding-bottom: 4px !important;
  color: rgb(226, 226, 226) !important;
  text-decoration: none;
  letter-spacing: .03rem;
}

.nav-link:focus-within {
  border-bottom: 1px solid rgb(255, 255, 255);
  font-weight: 500;
}



@media (max-width:1300px) {
  nav {
    padding: 0 4rem;
  }
}

@media (max-width:1110px) {
  nav {
    padding: 0 4rem;
  }

  .nav-list {
    width: 53%;
  }
}

@media (max-width:960px) {
  nav {
    padding: 0 2rem;
  }

  .nav-list {
    width: 70%;
  }
}

@media(max-width:750px) {

  nav {
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
  }

  .nav {


    &-list {
      padding: 20px 0;
      flex-wrap: wrap;
      width: 100%;

      li {
        padding: 5px 15px;
      }
    }
  }
}

@media (max-width:510px) {
  .nav-link {
    font-size: 92% !important;
    letter-spacing: normal;
  }

  nav {
    h2 {
      font-size: 132%;
    }
  }
}